<h1>Create a new department</h1>

<form action="/departments" method="POST">
    {{!-- name --}}
    <div>
        <label for="">Name</label>

        <input type="text" class="form-control" name="name">
    </div>

    {{!-- code --}}
    <div>
        <label for="">code</label>

        <input type="text" class="form-control" name="code">
    </div>

    <div class='mt-3'>
        <button class="btn btn-success" type="submit">
            Save
        </button>
    </div>

    
</form>