<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
		body {
			background-color: #71d8a4;
		}
	</style>
</head>
<body>
 <form action="/register" method="post">
<div class="my-3">
    <label for="" style=" color: black">username</label>
    <input type="text" name="username" class="form-control"  placeholder="Enter your Username" aria-label="Recipient's username" aria-describedby="basic-addon2"/>
</div>

<div class="my-3">
    <label for="" style=" color: black">email</label>
    <input type="text" name="email" class="form-control"  placeholder="Enter your Email" aria-label="Recipient's username" aria-describedby="basic-addon2"/>
</div>


<div class="my-3">
    <label for="" style=" color: black">password</label>
    <input type="password" name="password" class="form-control"  placeholder="Enter your Password" aria-label="Recipient's username" aria-describedby="basic-addon2"/>
</div>


<div class="my-3">
    <button type="submit" style="background-color: #71d8a4; color: black" class="btn btn-dark">
        Register
    </button>
</div>


</form>
</body>
</html>