<body style="background-color: #b3a938c7; padding:20px margin: 8px;">
<br>
    <h1>
    {{subject.name}}
    </h1>
<br>
    <h5>
      - Code:  {{subject.code}}
    </h5>
<br>
    <h5>
       - Pre request subject:  {{subject.preRequest}} 
    </h5>
<br>
    <h5>
       - Department:{{subject.department?.name}}
    </h5>
</body>
